    {{#if resume.certificates.length}}
    <div class="container certificates-container">
{{> title value="Certifications"}} {{#each resume.certificates}}
        <section class="item">
             {{> section-header name=this.certificates }} 
            <div class="section-header">
                <h3>{{name}}</h3>
            </div>
             {{#if date}}
            <p>Date: {{date}}</p>
        </section>
        {{/each}}
    </div>
    {{/if}}
